{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/password-reset-complete.css' %}">
    <title>Password Reset Done</title>
</head>
<body>
    <nav>
        <label class="logo">MedInfo</label>
        
    </nav>
 <div class="container">
     <p>Congratulations!!You have successfully reset your password.</p>
 </div>
  <a href = "{% url 'login' %}">Login Here</a>

</body>
</html>