{% load static %}
{% load crispy_forms_tags %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet"  href="{% static 'css/password-reset.css' %}">
     <title>Password Reset</title>
 </head>
 <body>
    <div class="container">
        <form   method="POST"  class="form-psw">
         {% csrf_token %}
            <p class="psw-text">Reset Password</p>
              <hr>
              <br>
              <br>

            <p>Enter your email address and a link will be sent to reset your password.</p>
               <br>

               {{form|crispy}}
               
               <br>
               <br>
           
            <!-- <div class="input-all">
                <input type="email" placeholder="Email address" name="email" required>
            </div> 
          -->
         <div class="input-all">
             <a href="/login/" class="login-return">Return to Login</a>
             <button class="psw-reset-btn">Request Password Reset</button>
         </form>
         </div>
         <div>
 </body>
 </html>