{% load static %}
{% load crispy_forms_tags %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet"  href="{% static 'css/password-reset-confirm.css' %}">
     <title>Password Reset</title>
 </head>
 <body>
    <div class="container">
        <form   method="POST"  >
         {% csrf_token %}
            <p class="psw-text">Reset Password</p>


            {{form|crispy}}
              <!-- <hr>
              <br>
              <br>
              <div class="input-all">
                  <label>New Password</label>
                <input type="password" placeholder="Password" name="password" required>
            </div> 
            <div class="input-all">
                <label>Confirm New Password</label>
                <input type="password" placeholder="Confirm Password" name="cpassword" required>
            </div> 
          -->
         <div class="input-all">
             <button class="psw-reset-btn">Reset Password</button>
         </form>
         </div>
         <div>
 </body>
 </html>