*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   

}

nav{
   background-color:darkcyan;
   height:60px;
   width:100%;
}

nav label.logo{
   color:azure;
   font-size:40px;
   line-height:60px;
   padding:0 10px;
   font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bolder;

}

.container{
    position: absolute;
    
    min-height: 150px;
    background: #b4dc2b;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 40px 30px;
    margin: 10% 0 40% 35%;
}