* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif', 'Verdana', Tahoma;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: turquoise;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    position: relative;
    background: whitesmoke;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 40px 30px;
}

.container_checkbox {
    position: relative;
    max-width: 100%;
    width: 100%;

}

.row_checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.col{
    padding: 20px;
}

input.checkvalues{
    margin:25px 10px 30px 100px;
}

textarea#txtvalues{
    margin-top: 30px;
    margin-left: 10px;
}

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    border-radius: 8px;
    cursor: pointer;

}

.container .register-text {
    color: #111;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;

}

.container .register-email .input-all {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;

}

.container .register-email .row .input-all {
    width: 50%;
    height: 50px;
    margin-bottom: 25px;
    margin-right: 5px;
}

.container .register-email .input-all input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;

}

.container .register-email .row {
    display: flex;
    flex-wrap: nowrap;
}



.container .register-email .input-all input:focus,
.container .register-email .input-all input:valid {
    border-color: teal;
}

.container .register-email .input-all .register-btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: rgb(110, 82, 163);
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.container .register-email .input-all .register-btn:hover {
    transform: translateY(-5px);
    background: rgb(28, 9, 134);
}



.container .register-email .login-text {
    color: #111;
    font-size: 14px;
    font-weight: 600;
}

.login-text a {
    text-decoration: none;
    color: rgb(110, 82, 163);
}

@media(max-width:767px) {
    .container {
        width: 300px;
    }

    .container .register-email .row {
        display: flex;
        flex-direction: column;


    }

    .container .register-email .row .input-all {
        width: 100%;
    }
}