{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/appointment_form.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script>
        $(document).ready(function()
        {
            var $select_spec =$('#select_spec'),
                $select_doc = $('#select_doc'),
                $options = $select_doc.find('option');
                $select_spec.on('change',function(){
                    console.log($select_spec);
                    $select_doc.html($options.filter('[value="'+this.value+'"]'));
                }).trigger('change') ; 
                

        });

            $("#select_doc").on("change", function(){
                var $select_sel_doc = $('#select_sel_doc'),
                    $selectedValue = $(this).text();
                    $select_sel_doc.html(selectedValue);
                    }).trigger('change');

                

    </script>
  
    <title>Appointment Form</title>
</head>
<body>


            

    <div class="container">



        <form class="register-email" action="appointment_choosedatetime/" method="POST">
            <p class="register-text">Appointment Form</p>
            {% csrf_token %}
            <input type="hidden" name ="h_id" id="h_id" value = {{hospital.admin_id}}>
            
            <div>
                <select name="category_spec" value="category" class="select-box" id ="select_spec" required>

                <!-- <option selected disabled ="true" required></option>

                <label for="Speciality"><b>Choose Speciality</b></label> -->
                 {% for spec in speciality_list %} 
                 
                   <option class= "option"  value="{{spec}}" >{{spec}}</option>
                
                   
                 {% endfor %}
                                            
                </select>
            </div>
            <br>
            
           
           


            <div>
                <select name="category_doc" value="category" class="select-box" id ="select_doc" required>


                 {% if doctor %}
                 
                    {% for doc in doctor %}
                    
                      <option class= "option"  value="{{doc.specialities}}">{{doc.admin.first_name}} {{doc.admin.last_name}}</option>
        
                    {% endfor %}
                    
                  {% endif %} 

                </select>
            </div>

            

<!--
            
                <div class="input-all">
                <input type="date" placeholder="Enter Date" name="date" required>
            </div>

            <div>
                <select name="timeslot" value="timeslot" class="select-box" id ="select_appointment">

                 {% if appointment_time %}
                     {% for app in appointment_time %}
                        
                    
                        <option class= "option" value="{{app.doctor_id.admin.first_name}} {{app.doctor_id.admin.last_name}}">{{app.start_time}}-{{app.end_time}}-{{app.time_slot}}</option>
                        
                     {% endfor %}
                        
                  {% endif %} 

                </select>
            </div>

            

            <div class="input-all">
                <input type="text"  name="name" readonly value=" patient name : {{patient.admin.first_name}} {{patient.admin.last_name}}">
            </div>

    
            <div class="row">

                <div class="input-all">
                    <input type="text" placeholder="Address" name="address" value = "address : {{patient.address}}">
                </div>

                <div class="input-all">
                    <input type="tel" id="phone" placeholder="Phone Number" name="phone" value = "phone number : {{patient.phone}}">
                </div>

                <div class="input-all">
                    <input type="number" placeholder="Total Amount" name="amount" required>
                </div>
             <br>
             <br>
            </div> 
        -->
           
             <div class="input-all">
                <button class="register-btn">Proceed to next step</button>
            </div>
        </form>
    </div>

  
    
</body>
</html>















 <!-- {% for spec in speciality_list %}

<h2>{{spec}}</h2>

{% endfor %}

{% if doctor %}
{% for doc in doctor %}

<h2>{{doc.specialities}} {{doc.admin.last_name}}</h2>

{% endfor %}

{% endif %}  -->





















