{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet"  href="{% static 'css/appointment_page.css' %}">

    <title>Appointment Form</title>
</head>
<body>
    <div class="container">
       <form class="register-email" action="khalti-request/">
        {% csrf_token %}
           <p class="register-text">Appointment form</p>

        <div class="input-all">
            <input type="text" placeholder="Speciality" name ="speciality" >
        </div> 

        <div class="input-all">
            <input type="date" placeholder="date" name="date" >
        </div>
          
        <div class="input-all">
            <input type="text" placeholder="Name" name ="name" >
        </div> 


        <div class="row">
            <div class="input-all">
                <input type="text" placeholder="Address" name="address" >
            </div> 
            <div class="input-all">
                <input type="tel" id="phone" placeholder="Phone Number" name="phone" pattern="[0-9]{10}" >
            </div> 

        </div> 
       
        <div class="input-all">
            <button class="register-btn">Proceed</button>
        </div>
     
       </form>
    </div>
    
</body>
</html>