<html>
<head>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>
<body>
    
    <!-- Place this where you need payment button -->
    <h3>Your  amount is Rs . {{appointment.amount}}</h3>
    <button id="payment-button">Pay with Khalti</button>
    <!-- Place this where you need payment button -->
    <!-- Paste this code anywhere in you body tag -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_9ddf3c4a9ed1492f9d698b2018394f4d",
            "productIdentity": "appointment_{{appointment.id}}",
            "productName": "appointment_{{appointment.id}}",
            "productUrl": "http://localhost:8000",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    axios.get("/khalti-verify/",{
                        params: {
                            "token":payload.token,
                             "amount":payload.amount,
                             "appointment_id":"{{appointment.id}}",
                        }
                    }).then(function(resp){
                        if (resp.data.success == true){
                            alert("Payment Completed Successfully")
                            location.href = "/"
                        }else{
                            alert("Error occured,Try again later!!!")
                            location.href = "{{request.build_absolute_uri}}"
                        }
                    })
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: {{appointment.amount}}*100});
        }
    </script>
    <!-- Paste this code anywhere in you body tag -->
   
</body>
</html>