{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/register_hospital.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    
    <script>
         $(document).ready(function(){
            $('.checkvalues').click(function()
            {
                 var txt = "";
                 $('.checkvalues:checked').each(function()
                 {
                    txt+=$(this).val()+","
                 });

                 $('#txtvalues').val(txt)
            });
         });

    </script>


    <title>Hospital Registration Form</title>
</head>

<body>
    <div class="container">

        
        <div style="margin-top:90px;margin-left:200px;">
            {% if messages %}
            <ul class="messages">
            {% for msg in messages %}
            {% if msg.tags == 'error' %}
            
            <div class="alert alert-{{msg.tags}}" role="alert" style="margin: 10px;border:solid red;border-radius: 10px;color:black;padding:6px">
            {{msg.message}}
            </div>
            {% endif %}
            
            {% if msg.tags == 'success' %}
            
            <div class="alert alert-{{msg.tags}}" role="alert" style="margin: 15px;background-color: rgb(196,227,36);border:solid black;border-radius: 10px;color:rgb(77, 18, 241);padding:6px">
            {{msg.message}}
            </div>
            {% endif %}
            
            {% endfor %}
            </ul>
            {% endif %}


            
         </div>

        <form class="register-email" action="/doRegister_hospital" method="POST">
            {% csrf_token %}
            <p class="register-text">Create Hospital Account</p>

            <div class="input-all">
                <input type="text" placeholder="Name of your Hospital" name="name" required>
            </div>

            <div class="input-all desc">
                <input type="text" rows="10" cols="30" placeholder="Description" name="description" required>
            </div>
            <div class="row">
                <div class="input-all">
                    <input type="tel" id="phone" placeholder="Phone Number" name="phone" pattern="[0-9]{10}" required>
                </div>

                <div class="input-all">
                    <input type="text" placeholder="Address" name="address" required>
                </div>
            </div>

            <div class="row">
                <div class="input-all">
                    <input type="text" placeholder="District" name="district" required>
                </div>

                <div class="input-all">
                    <input type="text" placeholder="Website" name="website" required>
                </div>
            </div>

            <div class="container_checkbox">
                
                    <span class="btn-text">Select specialities</span>
                
                <div class="row_checkbox" name="spec">
                    <div class="col">
                        <input type="checkbox" value="General Surgery" class="checkvalues" />General Surgery
                        <input type="checkbox" value="ENT" class="checkvalues"/>ENT
                        <input type="checkbox" value="Cardiology" class="checkvalues" />Cardiology
                    </div>
                    <div class="col">
                        <input type="checkbox" value="Psychiatry" class="checkvalues" />Psychiatry
                        <input type="checkbox" value="Pathology" class="checkvalues" />Pathology
                        <input type="checkbox" value="Physiotherapy" class="checkvalues" />Physiotherapy
                    </div>
                    <div class="col">
                        <input type="checkbox" value="Radiology" class="checkvalues" />Radiology
                        <input type="checkbox" value="Dental" class="checkvalues" />Dental
                        <input type="checkbox" value="Neurosurgery" class="checkvalues"/>Neurosurgery
                    </div>
                    <div class="col">
                        <input type="checkbox" value="Urology" class="checkvalues"/>Urology
                        <input type="checkbox" value="Endocrinology" class="checkvalues"/>Endocrinology
                        <input type="checkbox" value="Gynecology" class="checkvalues" />Gynecology
                    </div>
                    <div class="col">
                        <input type="checkbox" value="Audiology" class="checkvalues" />Audiology
                        <input type="checkbox" value="Cancer" class="checkvalues"/>Cancer
                        <input type="checkbox" value="Rheumatology" class="checkvalues" />Rheumatology
                    </div>
                    <br>
                    <br>
                <div>
                    <!-- <input type="text" name="specialities" id="txtvalues"/> -->
                    <textarea type="text" name="specialities" id="txtvalues"></textarea>
                </div>

                </div>


                <br>
            </div>


            <div class="input-all">
                <input type="email" placeholder="Email" name="email" required>
            </div>


            <div class="input-all">
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="input-all">
                <input type="password" placeholder="Confirm Password" name="cpassword" required>
            </div>

            <div class="input-all">
                <button class="register-btn">Register</button>
            </div>
            <p class="login-text">Have an account? <a href="login/">Login Here</a></p>
        </form>





    </div>

</body>

</html>